
- name: Check if Oh-My-Zsh is installed
  stat:
    path: "{{ lookup('env', 'HOME') }}/.oh-my-zsh"
  register: oh_my_stats
  tags: always
- name: Install Oh-My-Zsh
  shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  when: not oh_my_stats.stat.exists
  tags: always
- name: Check if .zshrc.pre-oh-my-zsh exists
  stat:
    path: "{{ ansible_env.HOME }}/.zshrc.pre-oh-my-zsh"
  register: zshrc_backup
  tags: zsh
- name: Restore original .zshrc from pre-oh-my-zsh backup
  block:
    - name: Remove current .zshrc
      file:
        path: "{{ ansible_env.HOME }}/.zshrc"
        state: absent
    - name: Move .zshrc.pre-oh-my-zsh to .zshrc
      command: mv "{{ ansible_env.HOME }}/.zshrc.pre-oh-my-zsh" "{{ ansible_env.HOME }}/.zshrc"
  when: zshrc_backup.stat.exists
  tags: zsh
- name: Clone zsh-syntax-highlighting
  git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
  tags: always
- name: Clone zsh-autosuggestions
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
  tags: always
- name: Clone zsh-autocomplete
  git:
    repo: https://github.com/marlonrichert/zsh-autocomplete.git
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-autocomplete"
    depth: 1
  tags: always
- name: Clone powerlevel10k
  git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
  tags: always
- name: Clone ohmyzsh-full-autoupdate
  git:
    repo: https://github.com/Pilaton/OhMyZsh-full-autoupdate.git
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/ohmyzsh-full-autoupdate"
  tags: always
- name: Clone fzf-tab 
  git:
    repo: https://github.com/Aloxaf/fzf-tab 
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/fzf-tab"
  tags: always
